.txt{
  background-color: green;
  width: 45vmin;
  height: 45vmin;
  overflow-y: scroll;
  font-size: 40px;
}


.middleShape{
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  width: 100%;
  height: 50vh;
  background-color: hotpink;
  position: relative;
  top: -100vh;
  //display: inline-flex;

  .txt{
    position: absolute;
    top: 0px;
    left: 0px;
  }

}

.leftShape{
  clip-path: polygon(0 0, 0 100%, 50% 100%, 50% 50%);
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  position: relative;
  top: 0px;
  left: 0px;

  .txt{
    position: absolute;
    top: 0px;
    left: 0px;
  }

}

.rightShape{
  background-color: brown;
  height: 100vh;
  width: 100%;
  clip-path: polygon(100% 100%, 100% 0%, 50% 50%, 50% 100%);
  position: relative;
  bottom: 150vh;
  right: 0px;

  .txt{
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

