@import "../../styles/ShapesandText.module";

//.txt{
//  position: static;
//  background-color: green;
//  max-width: 40vmin;
//  height: auto;
//  overflow-y: scroll;
//  font-size: 40px;
//  margin: 2vh;
//
//}

.txt{
  max-width: fit-content;
  min-width: 80%;

}

.leftShape{
  //align-self: flex-start;
  //float: left;
  width: 50%;
  justify-content: center;
  background-color: $pink;

  .txt{
    width: auto;
    align-self: center;
    margin: $txtMargin;
  }
}

.rightShape{
  width: 50%;
  justify-content: center;
  left: 50%;
  background-color: $blue;

  .txt{
    align-self: center;
    margin: $txtMargin;
  }
}

