$txtMargin: 2vmin;

.txt{
  background-color: green;
  width: 45%;
  height: 45%;
  overflow-y: scroll;
  font-size: 40px;
  display: block;
}





.shps{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.leftShape{
  justify-content: flex-start;
  background-color: hotpink;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  .txt{
    align-self: flex-start;
    margin-left: $txtMargin;
    margin-top: $txtMargin;
  }
}

.rightShape{
  background-color: brown;
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 100%;
  right: 0px;
  justify-content: flex-end;
  .txt{
    align-self: flex-end;
    margin-right: $txtMargin;
    margin-bottom: $txtMargin;
  }


}

