@import "../../styles/ShapesandText.module";


.ItemTitle_txtHolder *{
  width: 10% !important;
}




.leftShape{
  //clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.v1Left{
  background-color: transparent;
}
.v2Left{
  background-color: transparent;
}

.shps{
  bottom: 100%;
}

