@import "../../styles/ShapesandText.module.scss";


//.txt{
//  background-color: green;
//  width: 45%;
//  height: 45%;
//  overflow-y: scroll;
//  font-size: 40px;
//  display: block;
//}


.middleShape{
  justify-content: flex-start;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  width: 100%;
  height: 50%;
  background-color: $white;
  position: relative;
  top: -100%;
  .txt{
    align-self: center;
    margin: $txtMargin;
    width: 20vmin;
    height: 20vmin;

  }

}

.leftShape{
  clip-path: polygon(0 0, 0 100%, 50% 100%, 50% 50%);
  justify-content: flex-end;
  background-color: $red;
  .txt{
    margin-top: 0;
    margin-bottom: $txtMargin;
  }
}

.rightShape{
  clip-path: polygon(100% 100%, 100% 0%, 50% 50%, 50% 100%);
  bottom: 150%;
  background-color: $green;

}

