.infoDivBackground{
  background-color: rgba(0,0,255,0.7);
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.infoDiv{
  width: 75vw;
  height: 75vh;
  margin: auto;
  background-color: white;
  visibility: inherit;
  display: inherit;
  position: absolute;
  z-index: 1000;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

}
